<h2>Returning Members Login</h2>

<form action="/login" method='POST'>
<label> Username </label><br>
<input type="text" name="username"/><br><br>
<label> Password </label><br>
<input type="password" name="password"/><br>
<input type="submit" value="LOGIN"/>

</form>