<html></html>
<h2><%= @user.username%>'s Photagraphy Vault</h2><br>
<h3><%= @user.photography_style.capitalize %> photography is my favorite </h3>
<br>

<h3>Cameras</h3><br>
<h3></h3>


<h3>Lenses</h3>
 <h6><a href="/logout">Logout</a></h6>
</html>