<h1>SIGN UP</h1>

<form action="/signup" method="POST">
    <label> Username</label>
    <input type="text" name="username"/><br>
    <label> Password</label>
    <input type="password" name="password"><br>
    <label> Photography Style</label>
    <input type="text" name="photography_style"/><br>
    <input type="submit" value="SUBMIT"/>

</form>