<h2> All Camera Types Used By Our Members </h2>

<ul>
    <% @cameras.sort_by do |camera|%>
    <li><a href="/cameras/<%=camera.id%>"><%=camera.brand.capitalize%> - <%=camera.model.capitalize%>  </a></li><br>
    
<%end%> </ul>
