<h2>CAMERA INFO</h2>

<form action="/cameras" method="POST">
        <label>BRAND</label>
        <input type="text" name="camera[brand]"><br><br>
        <label>MODEL</label>
        <input type="text" name="camera[model]"><br>
        
        
        <input type="submit" value="Add to Cameras">
</form>