<h2>CAMERAS</h2>

<form action="/cameras" method="POST">
        <label>BRAND</label>
        <input type="text" name="brand"><br><br>
        <label>MODEL</label>
        <input type="text" name="model"><br>
        <input type="submit" value="Add to Cameras">
</form>