
<h2><%= @camera.brand.capitalize%> - <%= @camera.model.capitalize%></h2>

<a href="/cameras/<%=@camera.id%>/edit "> Update Camera</a><br><br>
<form action="/cameras/<%=@camera.id%> /delete" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value= "Delete">
</form>